h1 {font-size : clamp(1rem, 5vw, 7rem);
	font-family: $font__titre}
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__titre__secondaire;
}
h2{ font-size : clamp(.9rem, 4vw, 4rem);} 
h3{ font-size : clamp(.9rem, 3vw, 3rem);} 
h4{ font-size : clamp(.8rem, 3vw, 2rem);} 
h5{ font-size : clamp(.7rem, 3vw, 2rem);} 
h6{ font-size : clamp(.6rem, 2vw, 2rem);} 



